<div class="container" id="chatroom">
	<div id="chat">
		<table>
			<tbody>
				<tr valign="top" class="message" ng-repeat="m in messages">
					<td class="msgauthor">{{m.name}}</td>
					<td class="msgtext">{{m.text}}</td>
					<td class="msgtime">{{m.time}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="footer">
		<form ng-submit="sendMessage()" class="input">
			<input type="text" id="messagebox" placeholder="Type your message here..." autofocus ng-model="messageText"></input>
			<input type="button" id="sendbutton" value="Send" ng-click="sendMessage()"></input>
		</form>
	</div>
</div>