body {
	background-color: #416DB6;
    padding: 40px 40px 60px 40px;
    margin: 0;
    font-family: monospace;
}

input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    font-family: monospace;
}

input[type=button] {
    font-family: monospace;
}

.container {
    margin: auto;
}

.input {
    padding: 10px 10px 10px 0;
    position: fixed;
    left: 40px;
    bottom: 0px;
    background: #416DB6;
    float: right;
    border-radius: 0 5px 0 0;
}

.msgauthor, .msgtime {
    color: #416DB6;
}

.msgtext {
    width: 100%;
}

#chat {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#messagebox {
    display: table-cell;
    width: 500px;
    height: 40px;
    margin-right: 10px;
}

#sendbutton {
    display: table-cell;
    width: 90px;
    height: 40px;
    background: #99CC01;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}